<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975248991485-nvdb4e2akkrv33larm7el909m44mpd9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975248991485-nvdb4e2akkrv33larm7el909m44mpd9i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>975248991485-91ua0d7n7cig524jgbu9fh5v6ruc67g1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdrT7FozP9Hlyz1isK89t7Oq68zo5lHys</string>
	<key>GCM_SENDER_ID</key>
	<string>975248991485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-fb6b5</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-fb6b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975248991485:ios:f2097472548fc5282bca94</string>
</dict>
</plist>